.App {
    height: 100%;
    display: grid;
    grid-template-rows: 50px 1fr;
    gap: 8px;
}

.App__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px;
}

.App__body {
    height: 100%;
    margin: 0 8px;
}

